<h1>Share. Tell. Laugh</h1>
What's this all about, then?<br/>
<br/>
Quite simple: You write a story together.<br/><br/>
You add a few words,<br/>
someone else does.<br/>
You both laugh.<br/>
Good times.<br/>
<br/>
[examples will go here]<br/>
<br/>
<a href="{{ path('silnin_share_tell_dashboard_homepage') }}">login</a> or <a href="{{ path('fos_user_registration_register') }}">register</a>
