{% block stylesheets %}

    <link href="{{ asset('bundles/user/css/main.css') }}" rel="stylesheet">
{% endblock %}

<div>
    <div>
        Thank you. We hope you will partake in many a unique tale!
    </div>

    <div>
        ...take me to games list!...

        ...or show games i have been invited to...
    </div>
</div>
