Sharetell: You don't just share what you tell, you share the telling itself!

<form method="get" action="/user/register">
    <button type="submit">register</button>
</form>

<form method="post" action="/user/login">
    <input type="text" name="email" placeholder="email address" >
    <input type="password" name="password" placeholder="password" >
    <button type="submit" name="login">login</button>
</form>
