<html>
{% block head %}
    {{ include('SilninShareTellDashboardBundle:Default:head.html.twig') }}
{% endblock %}

{% block body %}
<body>
    {{ include('@SilninShareTellDashboard/Default/dashboard-content.html.twig') }}
</body>
{% endblock %}

{% block footer %}
    {{ include('SilninShareTellDashboardBundle:Default:foot.html.twig') }}
{% endblock %}

</html>