<html>
<body>

Welcome to the Storytime, traveller.

<h1>Stories</h1>
<ul>
    {% for story in stories %}
        <li><a href="/story/join/{{ story.reference }}">{{ story.title }}</a></li>
    {% endfor %}
</ul>

<br />
<a href="/story/new">Start a new story!</a>

</body>
</html>